.product-link, .product-link:visited, .product-link:hover, .product-link:active {
    text-decoration: none;
    color: black;
}

.product-card {
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1);
    transition: .3s transform cubic-bezier(0.1, 1.1, 0.3, 1.1), .3s box-shadow, .3s -webkit-transform cubic-bezier(0.1, 1.1, 0.3, 1.1);
    border: 1;
    border-radius: 5%;
    border-color: lightgrey;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 5px 10px rgba(0, 0, 0, .05);
}

.center-element-content{
    display: flex;
    justify-content: center;
    text-align: center;
}

