
.shopping-cart{
    margin-left:20px;
}

.search-btn {
    text-transform: unset !important;
}

.form-boarder:focus {   
    border-color: green;
    box-shadow: 0 0 0 0.2rem rgba(0, 128, 0, 0.25);
}
